<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Fiscalizacion de Brigada</h2>

    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-danger" role="alert">
      <%=msg%>
    </div>
    <% }) %>
    
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Hora</th>
          <th>Fecha</th>
          <th>Capataz</th>
          <th>Supervisor</th>
        </tr>
      </thead>
      <tbody>
        <% ficha_id.forEach( ficha_id => { 
           function procesarFila(resultado){  
          
          var arreglo = resultado.split(" ");
          var ano = arreglo[3];
          var mes = arreglo[1];
          var dia = arreglo[2];
          return dia + "-" + mes+ "-" +ano;
        }  
     
        
       var fecha3 = procesarFila(ficha_id.fecha.toString())

          
          %>
          <tr>            
            <td><a href="/identificacion/<%=ficha_id.id%>"><%=ficha_id.id%></a></td>
            <td><%=ficha_id.hora%></td>
            <td><%=fecha3%></td>
            <td><%=ficha_id.capataz%></td>
            <td><%=ficha_id.supervisor%></td>
           
            <td>
                    
          </tr>
        <% }) %>
      </tbody>
    </table>

    
  </div>
  <div class="col-md-3"></div>
</div>
